header.row.small-12.columns(styleName='header')
  div(styleName='logo') Test app
  nav.button-group(styleName='buttons')
    Link(to='transactions'
      activeClassName='secondary'
      className='button') #[i.fa.fa-plus] transaction
    Link(to='overview'
      activeClassName='secondary'
      className='button')  #[i.fa.fa-university] overview
    Link(to='/logout'
      className='button alert') #[i.fa.fa-sign-out] logout
