section.row.small-12.columns(
  styleName='add')
  form.row.collapse(
    onSubmit=this.addTransaction)
    label.small-6.columns
      input(
        type='text'
        ref='amount'
        onChange=this.validateAmount
        placeholder='Amount')
    label.small-3.columns
      select(ref='select' disabled=!this.state.banks.length)
        option ...
        each bank in this.state.banks
          option(key=bank.id value=bank.id)= bank.name

    .small-3.columns
      button(type='submit' styleName='button').button.expanded Добавить

ViewTransaction(
  edit=true
  title='Your new transactions'
  transactions=this.state.newTransactions)
