section(styleName='section').row.small-12.small-centered.columns
  form.row.small-12.columns(
    styleName='form'
    onSubmit=this.signUp)

    header(styleName='header') Sign up form
    section(styleName='inputs')

      AuthInput(
        text='Username'
        type='text'
        onBlur=this.validateUsername
        onChange=this.setValue.bind(this, 'username')
        iconClassName='fa fa-user'
        value=this.state.username)

      AuthInput(
        text='New password'
        type='password'
        onChange=this.setValue.bind(this, 'password')
        iconClassName='fa fa-key'
        value=this.state.password)

      AuthInput(
        text='Repeat new password'
        type='password'
        onChange=this.setValue.bind(this, 'password_confirm')
        iconClassName='fa fa-key'
        value=this.state.password_confirm)

      Message(
        type='warning'
        show=this.state.error_password
        text='Invalid pasword'
        close=this.closeInfo.bind(this, 'error_password'))

      Message(
        type='alert'
        show=this.state.error
        text=this.props.error
        close=this.closeInfo.bind(this, 'error'))

    footer(styleName='footer')
      button(type='submit').button.expanded Create an account
      p(styleName='signup-link') Already have an account? #[Link(to='/auth/sign-in') Log in]
