div
  AddTransaction(
    banks=this.state.banks
    transactions=this.state.transactions
    saveTransaction=this.saveTransaction)

  ViewTransactions(
    title='Your new transactions'
    banks=this.state.banks
    transactions=this.state.transactions
    deleteTransaction=this.deleteTransaction)
