- stylesName = this.state.newTransactions.length ? '' : this.props.styles.middle

div(className=stylesName)

  if stylesName
    h3(styleName='title') Add Your transaction

  AddTransaction(
    banks=this.props.banks
    transactions=this.props.transactions
    addTransaction=this.addTransaction)

  ViewTransactions(
    title='Your new transactions'
    banks=this.props.banks
    transactions=this.state.newTransactions
    deleteTransaction=this.deleteTransaction)
