div
  AddTransaction(
    banks=this.props.banks
    transactions=this.props.transactions
    addTransaction=this.addTransaction)

  ViewTransactions(
    title='Your new transactions'
    banks=this.props.banks
    transactions=this.state.newTransactions
    deleteTransaction=this.deleteTransaction)
