section(styleName='section').row.small-12.small-centered.columns
  form.row.small-12.columns(
    styleName='form'
    onSubmit=this.signIn)

    header(styleName='header') Login form
    section(styleName='inputs')

      AuthInput(
        text='Username'
        type='text'
        onChange=this.setValue.bind(this, 'username')
        tabindex=1
        iconClassName='fa fa-user'
        value=this.state.username)

      AuthInput(
        text='Password'
        type='password'
        onChange=this.setValue.bind(this, 'password')
        tabindex=2
        iconClassName='fa fa-user'
        value=this.state.password)

      Message(
        type='alert'
        show=this.state.error
        text=this.props.error
        close=this.closeInfo)

    footer(styleName='footer')
      button(tabIndex=3 type='submit').button.expanded Login
      p(styleName='signup-link')
        span New to &laquo;Test App&raquo;?&nbsp;
        Link(to='/auth/sign-up') Create an account.
