div
  AddTransaction(
    banks=this.state.banks
    transactions=this.state.newTransactions
    addTransaction=this.addTransaction)

  ViewTransactions(
    title='Your new transactions'
    banks=this.state.banks
    transactions=this.state.newTransactions
    deleteTransaction=this.deleteTransaction)
