if this.props.transactions.length
  section(styleName='transactions').row.small-12.columns
    table
      caption(styleName='caption')= this.props.title
      thead
        tr
          th ID
          th Amount
          th Bank name
          th
      tbody
        each transaction, index in this.props.transactions
          tr(key=transaction.id)
            td= index + 1
            td #[i.fa.fa-usd] #[span= transaction.amount]
            td: BankName(bankId=transaction.bankId banks=this.props.banks)
            td.button-group(styleName='edit')
              a.button.alert(
                title='delete'
                onClick=this.delete.bind(this, transaction)
                href='#'): i.fa.fa-times
